body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 8vw;
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

body, html {
    height: 100%;
    display: grid;
}

main {
    margin: 10%;
    background-color: #3a0ca3;
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    align-items: center;
    justify-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main > div {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    

}

div:first-child {
    font-weight: 100;
    font-size: 13vw;
    background-color: #3a0ca3;
    grid-column: 1 / 5;
    justify-items: flex-end;
    padding-right: 5%;
    width: 95%
}

.dark {
    background-color: #7209b7;
}

.dark:hover {
    background-color: #AC3CF6;
}

.bright {
    background-color: #f72585;
}

.bright:hover {
    background-color: #F94E9B;
}

.light {
    background-color: #4361ee;
}

.light:hover {
    background-color: #6A83F1;
}

#zero {
    grid-column: 1 / 3;
}